@font-face {
    font-family: mikado;
    src: url('../../fonts/mikadobold_demo-webfont.woff') format('woff'),
         url('../../assets/fonts/mikadobold_demo-webfont.woff2') format('woff2');
    font-weight: bold;
}
