@use 'fonts';
@use 'variables';
@use 'placeholders';
@use 'mixins';

@use 'header';
@use 'main';
@use 'footer';
@use 'base';



html {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}




* {
    margin: 0;
    padding: 0;
}
